{% extends 'posts/layout.html' %}
{% load static %}

{% block title %}Single Page{% endblock %}

{% block style %}{% endblock %}

{% block body %}
    <h1>Hello!</h1>

    <button data-section="1">Section 1</button>
    <button data-section="2">Section 2</button>
    <button data-section="3">Section 3</button>
    <div id="content">{% comment %}Here goes all the content introduced by siglepage.js{% endcomment %}</div>

{% endblock %}

{% block script %}
    <script src="{% static 'posts/posts.js' %}"></script>
{% endblock %}