textarea {
    min-height: 400px;
}

.email-box {
    display: flex;
    border: 2px solid black;
    align-items: center;
    padding: 5px 0;
}

.email-box > p{
    margin: 0;
    padding: 0;
}

.unread {
    background-color: white;
}

.read {
    background-color: #a1a1a1;
}